body {
    font-family: "Montserrat"
}

.img_box {
    height: 100%;
    width: 98%;
    margin: 0 auto;
}

.img {
    background-image: url('bg.png');
    width: 100%;
    height: 84vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    height: 100%;
    width: 85%;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vw;
}

.manu_name {
    list-style-type: none;
    color: white;
    display: flex;
    font-size: 1vw;
    text-align: center;
    padding: 0;
}

li {
    color: rgb(162, 160, 160);
    margin-right: 5vw;
    margin-top: 1vw;
}

.manu_name li:hover {
    box-shadow: 0 5px 35px 0px rgb(190, 187, 206);
    color: white;
}

.button {
    background-color: rgb(95, 85, 85);
    border: none;
    color: white;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 5vw;
    font-size: 1.5vw;
    color: #ddd;
}

.button1:hover {
    background-color: orangered;
    box-shadow: 0 5px 35px 0px rgb(139, 88, 69);
    color: white;
}

.heand {
    color: white;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
}

.digitize h1 {
    font-size: 7vw;
}

.heand_text p {
    font-size: 1.5vw;
    padding-top: 3.5vw;
    color: rgb(173, 176, 179);
    word-spacing: 0.5vw;
}

.button2 {
    margin-top: 2vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 50vw;
    background-color: rgb(78, 76, 75);
    font-size: 1.5vw;
}

.button2 {
    border-radius: 5vw;
    font-size: 2vw;
}

.button2:hover {
    background-color: rgb(220, 255, 82);
    box-shadow: 0 5px 35px 0px rgb(180, 195, 121);
    color: black;
}

.button3 {
    margin-left: 3vw;
    margin-top: 2vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 50vw;
    background-color: rgb(78, 76, 75);
    border-radius: 3vw;
    font-size: 2vw;
}

.button3:hover {
    background-color: yellow;
    box-shadow: 0 5px 35px 0px rgb(180, 195, 121);
    color: black;
}

/* page number 1 */
.line1{
    display: flex;
}
.color_line1{
    background-color: rgba(220, 220, 220, 0.18);
    width: 15vw;
    height: 0.2vw;
    margin-top: 10vw;
    margin-left: 8vw;
    opacity: 0.7;
}
.page_no_1 {
    width: 100%;
    height: 50vw;
}

.one {
    font-size: 12vw;
    opacity: 0.1;
}

.page_1_text {
    padding-left: 1.5vw;
    margin-top: -8vw;
}

.page_1_text h6 {
    font-size: 1.5vw;
    opacity: 0.5;
}

.page_1_text h1 {
    font-size: 4.2vw;
}

.page_1_text p {
    font-size: 1.6vw;
    padding-top: 1.5vw;
    opacity: 0.5;
}

.button4 {
    margin-top: 5vw;
    border-radius: 5vw;
    font-size: 1.5vw;
    color: #ddd;
    border-color: white;
}

.button4:hover {
    background-color: black;
    box-shadow: 0 5px 35px 0px black;
    color: white;
}

.button5 {
    border-radius: 5vw;
    font-size: 1.5vw;
    color: #ddd;
}

.button5:hover {
    background-color: black;
    box-shadow: 0 5px 35px 0px black;
    color: white;
}

.in_box1 {
    display: flex;
    padding-left: 2vw;
}

.in_box_text1 {
    margin-left: 3vw;
    margin-top: 5vw;
    padding-top: 2vw;
    text-align: center;
    background-color: rgb(238, 232, 232);;
    width: 15vw;
    height: 20vw;
    border-radius: 2vw;
}

.in_box_text1 img {
    opacity: 0.3;
}

.in_box_text1 p {
    font-size: 1.5vw;
    bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

.in_box2 {
    display: flex;
    padding-left: 2vw;
}

.in_box_text2 {
    margin-left: 3vw;
    margin-top: 3vw;
    padding-top: 2vw;
    text-align: center;
    background-color: rgb(238, 232, 232);;
    width: 15vw;
    height: 20vw;
    border-radius: 2vw;
}

.in_box_text2 img {
    opacity: 0.3;
}

.in_box_text2 p {
    font-size: 1.5vw;
}

.in_box_text1:hover {
    background-color: black;
    box-shadow: 0 5px 35px 0px rgb(14, 1, 77);
    color: white;
}

.in_box_text2:hover {
    background-color: black;
    box-shadow: 0 5px 35px 0px rgb(14, 1, 77);
    color: white;
}

/* page number 2 */
.line2{
    display: flex;
}
.color_line2{
    background-color: rgba(220, 220, 220, 0.18);
    width: 60vw;
    height: 0.2vw;
    margin-top: 10vw;
    margin-left: 8vw;
    opacity: 0.7;
}
.page_no_1 {
    width: 100%;
    height: 50vw;
}
.page_no_2 {
    width: 100%;
    height: 50vw;
}

.two {
    font-size: 12vw;
    opacity: 0.1;
}

.page_2_text {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5vw;
}

.page_2_text1 h6 {
    font-size: 1.5vw;
    opacity: 0.5;
}

.page_2_text1 {
    margin-top: -9vw;
}

.page_2_text1 h1 {
    margin-top: 1vw;
    font-size: 4.2vw;
}

.page_2_text p {
    font-size: 1.6vw;
    margin-top: -4vw;
    opacity: 0.5;
}

.box_text {
    display: flex;
    justify-content: space-between;
}

.in_box_deta {
    background-color: rgb(238, 232, 232);
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 27vw;
    border-radius: 2vw;
    margin-top: 4vw;
}

.in_box_deta h1:hover {
    color: black;
}

.in_box_deta h1 {
    font-size: 6.5vw;
    color: #aea2a2;
}

.in_box_deta p {
    font-size: 2vw;
    opacity: 0.5;
}

/* page number 3 */

.img2 {
    background-image: url(img2.jpg);
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5.8vw;
    margin-top: 4vw;
}

.img2_box {
    height: 100%;
    width: 98%;
    margin: 0 auto;
}

.page_3_text {
    color: white;

}

.therr {
    font-size: 15vw;
    opacity: 0.1;
    padding-top: -5vw;
}

.h1 {
    font-size: 4.2vw;
    margin-top: -10vw;
    padding-left: 1.5vw;
}

.button2 {
    margin-top: 4vw;
    padding-left: 1.5vw;
}

/* page number 4 */
.line4{
    display: flex;
}
.color_line4{
    background-color: rgba(220, 220, 220, 0.18);
    width: 60vw;
    height: 0.2vw;
    margin-top: 10vw;
    margin-left: 8vw;
    opacity: 0.7;
}
.page_no_4 {

    width: 100%;
    height: 50%;
}

.four {
    font-size: 12vw;
    opacity: 0.1;
}

.page_4_text {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5vw;
}

.page_4_text1 h6 {
    font-size: 1.5vw;
    opacity: 0.5;
}

.page_4_text1 {
    margin-top: -8vw;
}

.page_4_text1 h1 {
    margin-top: 1vw;
    font-size: 4.2vw;
}

.page_4_text p {
    font-size: 1.6vw;
    margin-top: -4vw;
    opacity: 0.5;
}

.box_text_lodo {
    display: flex;
    justify-content: space-between;
}

.in_box_deta_page_4 {
    background-color: rgb(238, 232, 232);
    height: 19vw;
    width: 25vw;
    border-radius: 2vw;
    margin-top: 4vw;
}
.in_box_deta_page_4:hover{
    color: black;
    background-color: white;
    box-shadow: 0 5px 35px 0px rgb(119, 102, 204);
    
}

.img_1 img {
    position: relative;
    right: -1.3vw;
    top: 2.2vw;
    opacity: 0.3;
    margin: 5vw;
}

.img_2 img {
    position: relative;
    right: -1.3vw;
    top: 1vw;
    opacity: 0.3;
    margin: 5vw;
}

.img_4 img {
    position: relative;
    right: -1.3vw;
    top: 2.9vw;
    opacity: 0.3;
    margin: 5vw;
}

.img_8 img {
    position: relative;
    right: -1.3vw;
    top: 3.8vw;
    opacity: 0.3;
    margin: 5vw;
}

/* page number 5 */
.line5{
    display: flex;
}
.color_line5{
    background-color: rgba(220, 220, 220, 0.18);
    width: 60vw;
    height: 0.2vw;
    margin-top: 10vw;
    margin-left: 8vw;
    opacity: 0.7;
}
.page_no_5 {
    width: 100%;
    height: 70vw;
}

.five {
    font-size: 12vw;
    opacity: 0.1;
}

.page_5_text {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5vw;
}

.page_5_text1 h6 {
    font-size: 1.5vw;
    opacity: 0.5;
}

.page_5_text1 {
    margin-top: -8vw;
}

.page_5_text1 h1 {
    margin-top: 1vw;
    font-size: 4.2vw;
}

.page_5_text p {
    font-size: 1.6vw;
    margin-top: -4vw;
    opacity: 0.5;
}

.img3 {
    background-image: url(page_5_img.jpg);
    width: 100%;
    height: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4vw;
    margin-top: 4vw;
    text-align: center;
}

.img3 h1 {
    font-size: 8vw;
    padding-top: 12vw;
    text-align: center;
    background: #FE1C22;
    background: linear-gradient(to right, #ff0008 40%, #ff00d0 50%, #7300ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button6 {
    margin-left: 1vw;
    margin-top: -5vw;
    position: relative;
    bottom: 3vw;
    padding: 1vw;
    border-radius: 50vw;
    background-color: rgba(213, 206, 206, 0.763);
    border-radius: 3vw;
    font-size: 1vw;
    text-align: center;
    width: 4vw;
}

.button6:hover {
    background-color: yellow;
    box-shadow: 0 5px 35px 0px yellow;
    color: black;
}
.page_deta{
    font-size: 1.2vw;
    opacity: 0.5;
    border-radius: 1vw;
    padding: 1vw;
    margin-top: 10vw;
    margin-left: 27vw;
    width: 32vw;
    background-color: rgba(213, 206, 206, 0.763);;
}

.img4 {
    background-image: url(page_6_img.jpg);
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
    margin-top: 4vw;
    text-align: center;
}
.bottom_text h1{
    font-size: 3vw;
    color: white;
    padding-top: 7vw;
}
.bottom_button{
    padding-top: 2vw;
}
.bottom_nav_logo{
    margin-top: 15vw;
}
.nav_bottom{
    margin-top: 3vw;
    color: white;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    .page_deta{
        margin-top: 7vw;
    }
    .nav_bottom{
        margin-top: 2vw;
    }
    .button6 {
        bottom: 4.5vw;
    }
}
@media (max-width: 426px) {
    .page_deta{
        margin-top: 5vw;
    }
    .bottom_nav_logo {
        margin-top: 10vw;
    }
    .button6 {
        bottom: 7.5vw;
    }
}
@media (max-width: 320px) {
    .page_deta{
        margin-top: 2vw;
    }
    .bottom_nav_logo {
        margin-top: 8vw;
    }
    .button6 {
        bottom: 9vw;
    }
}